body {
  background-color: lightgray;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0 200px;
  display: flex;
}
.menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  background: white;
  color: #333;
  text-decoration: none;
  border: solid #333;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0 0;
}
.menu li a.active {
  background: #333;
  color: #fff;
}
.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}
#photomain {
  margin: 0 200px 50px;
  padding: 15px;
  box-shadow: 0 0 20px gray;
  background-color: white;
}
.container.active {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
}
.container {
  display: none;
}
.container .img {
  flex: 140px;
  width: 100%;
  height: auto;
  margin: 0 5px 16px 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  /* background-color: #ffd; */
  /* border:1px solid #933; */
}
.img dd {
  margin: 0;
  padding: 0;
}
.container .img img {
  border: 0;
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.delete {
  margin: 0;
  padding: 0;
  text-align: center;
  border: solid 1px;
}
.delete:hover {
	background: #2a82a3;
	color: #FFF;
	border: 1px solid #FFF;
}
.setting {
  list-style: none;
}
#uploadForm.none{
  display: none;
}
#uploadForm {
  text-align: center;
}
#lightbox .lb-container { padding: 3px; }